*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #3a7659;
  border-radius: 100px;
}
